* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.icon {
    width: 40px;
    height: 40px;
}

.label-0 {
    font-weight: bold;
    font-size: 22px;
    margin: 32px 0;
}

.spacer-0 {
    width: 100vw;
    height: 8px;
}

.spacer-1 {
    display: flex;
    width: 8px;
    height: 250px;
}

.spacer-2 {
    width: 100vw;
    height: 64px;
}

#container-main {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.container-0 {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
}

.containev-0 {
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
}

.container-1 {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    /* background-color: mediumseagreen; */
}

.containev-1 {
    width: 340px;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.containev-2 {
    width: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.containev-3 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    font-size: 24px;
}

.containev-4 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 24px;
}

.container-2 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 24px;
}

.container-no-sides {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 24px;
}

.container-no-topbtm {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 24px;
}

.container-no-borders {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 24px;
}

.container-3l {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 24px;
    background-color: #fff;
    border-left-color: transparent;
    border-top-color: transparent;
    color: transparent;
}

.container-3x {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 24px;
    background-color: #fff;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.container-3r {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 24px;
    background-color: #fff;
    border-top-color: transparent;
    color: transparent;
}

.containex-2 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 24px;
    overflow: hidden;
}

.container-num-x {
    background-color: transparent;
}
.container-num-z {
    background-color: #000;
    color: #fff;
}
.container-num-0 {
    background-color: #ffe7e7;
}
.container-num-1 {
    background-color: #ffecc7;
}
.container-num-2 {
    background-color: #feffa8;
}
.container-num-3 {
    background-color: #c4ffc1;
}
.container-num-4 {
    background-color: #c2dce1;
}
.container-num-5 {
    background-color: #a2e6f4;
}
.container-num-6 {
    background-color: #b1c0d4;
}
.container-num-7 {
    background-color: #d4e5ea;
}
.container-num-8 {
    background-color: #a7eae1;
}
.container-num-9 {
    background-color: #f5ceff;
}